<div class="tag"><%= link_to "Full screen", root_url(:port => 8123) %> &#8226; <%= link_to "High-resolution map", (root_url + "high-res-map/") %></div>
<div class="contentbox">
  <object data="http://petyard.net:8123/" width="100%" height="600"></object>
</div>